/* use some freely available google font */
@font-face {
  font-family: 'Mountains of Christmas';
  font-style: normal;
  font-weight: 400;
  src: local('Mountains of Christmas'), url(Mountains.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html{background-color:#fff}*{margin:10;padding:10}

ul {
	margin: 0px;
}
p {
	margin: 0px;
	padding: 5px;
}

canvas {
  border: 1px solid black;
}

#isloading {					/* indicator that "load in progress" */
  position: absolute;
  top: 10px; 	
  left: 10px;	
  font-family: 'Mountains of Christmas', arial, sans-serif;
}

#just-use-the-fucking-font {
  position: relative;
  top: 10px; 	
  left: 10px;
  font-family: 'Mountains of Christmas', arial, sans-serif;
}


/* styling used for fullscreen mode */
#canvasID {
}
#canvasID:-webkit-full-screen	
{ 
	width: 100%;
	height: 100%;
	margin:0;
	border:0;
	padding:0;
	background-color:#000;
}
:-moz-full-screen #canvasID{
  width: 100% !important;
}
:-ms-fullscreen #canvasID{
  width: 100% !important;
}
:fullscreen #canvasID{
  width: 100% !important;
}
:-webkit-full-screen #canvasID{
  width: 100% !important;
}
:-moz-full-screen #canvasID{
  width: 100% !important;
}
:-ms-fullscreen #canvasID{
  width: 100% !important;
}
:fullscreen #canvasID{
  width: 100% !important;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

